<!DOCTYPE html>
<html>
<title>Feed</title>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    
    
</head>
<body>
    <br/><h3>Welcome {{user.name}}</h3>

    <h2><b>Make Posts</b></h2>
	<br/>
    <form method="POST" action="post/">
		{% csrf_token %}
		Caption : 
		<textarea name= 'desc'></textarea><br/>
		<button>Post</button>
	</form>
	<br/><br/><a href="api/signout">signout</a></body>

  <!--  <a href="/">logout</a>
    <button onclick="fun()">Signout</button>
    <script>
    function fun(){
        location.replace('api/signout')
    }
    </script>-->
</body>
</html>